factorydata/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set Blob Path",
							"type": "SetVariable",
							"dependsOn": [],
							"typeProperties": {
								"variableName": "blobPath",
								"value": {
									"value": "@{item().Path}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Blob Name",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobName",
								"value": {
									"value": "@{item().BlobName}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Container",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Blob Path",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Blob Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "container",
								"value": {
									"value": "@substring(item().Path, 0, indexof(item().Path, item().BlobName))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Container",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Stored Procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[uspUpdateBlobMetadata]",
								"storedProcedureParameters": {
									"dlsLocation": {
										"value": null
									},
									"recordId": {
										"value": "@[item().id]",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1Conn",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"blobPath": {
				"type": "String",
				"defaultValue": "@[item().path]"
			},
			"blobName": {
				"type": "String"
			},
			"container": {
				"type": "String"
			}
		},
		"annotations": []
	}
}